<app-meu-componente *ngIf="isVisible" nomeExterno="Some"></app-meu-componente>
<app-meu-componente nomeExterno="Não Some">

    <div class="cima">
        <b>
            Essa div é um ngContent com a classe cima
        </b>
    </div>

    <div class="baixo">
        <b>
            Essa div é um ngContent com a classe baixo
        </b>
    </div>

</app-meu-componente>
<app-meu-componente [nomeExterno]="title" [(nome)]="title" (myClick)="handleClick($event)"></app-meu-componente>

Fora do Componente: {{title}}


<div appCorAleatoria>
    Teste de diretiva que muda de cor de fundo da div quando abre a página
</div>

<div *ngIf="true">
    If True
</div>
<div *ngIf="false">
    If False
</div>
<div *UnLess="true">
    UnLess True
</div>
<div *UnLess="false">
    UnLess False
</div>

<!--exemplo pipe-->
<p>Exemplo pipe 1: {{ varPipe1 | currency:'BRL':'symbol':'1.2-2' }}</p>
<p>Exemplo pipe 2: {{ varPipe2 | slice:2:5 }}</p>
<p>Exemplo pipe 3: {{ varPipe3 | date:'dd/MM/y' }}</p>
<p>Exemplo pipe 4: {{ varPipe4 | json }}</p>
<p>Exemplo pipe 5: {{ varPipe5 | async }}</p>

<p>Sem meu pipe: {{ title }}</p>
<p>Com meu pipe: {{ title | reverse }}</p>